html {
  min-height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
}

humla-login main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}
