ha-list:empty::before {
  background: center/100% content-box no-repeat url(icons/smile.svg);
  height: 6rem;
  filter: opacity(0.6);
  margin: 3rem auto 1rem;
  width: 6rem;
  filter: invert(100%);
}

ha-list:empty::after {
  content: "You're done - congratulations!";
  margin: auto;
  color: white;
}