ha-list:empty::before {
  background: center/100% content-box no-repeat url(icons/smile.svg);
  height: 6rem;
  width: 6rem;
  margin: 3rem auto 1rem;
  filter: invert(100%);
  display: block;
  content: ' ';
}

ha-list:empty::after {
  content: "You're done - congratulations!";
  margin: auto;
  color: white;
  text-align: center;
  display: block;
}