ha-meetings .card button {
  border: 1px solid;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 1rem 0;
  display: block;
}

ha-meetings [past] {
  text-decoration: line-through;
  background: none;
  box-shadow: none;
}

ha-meetings [free] {
  font-style: italic;
}