@import 'ha-list.css';
@import 'ha-context.css';
@import 'ha-new.css';
@import 'todo/ha-todo.css';
@import 'todo/ha-title.css';
@import 'ui/ha-link.css';
@import 'ui/ha-overlay.css';

.week-list[view="week"] [context] button {
  display: none;
}

@media (min-width: 1024px) {
  .week-list[view="week"] {
    max-width: unset;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    margin: 0.5rem 0 2rem;
  }

  .week-list[view="week"]::before,
  .week-list[view="week"]::after {
    display: none;
  }

  .week-list[view="week"] ha-todo:not([open]) input {
    display: none;
  }

  .week-list[view="week"] ha-todo {
    grid-template-columns: min-content 1fr;
    grid-auto-flow: row;
    gap: 0;
  }

  .week-list[view="week"] ha-todo button {
    margin-right: 0.5rem;
  }

  .week-list[view="week"] ha-todo .details {
    grid-column: 2;
    /* direction: ltr; */
    text-align: left;
    margin: 0;
  }

  .week-list[view="week"] ha-todo .details > * {
    margin-top: 0.5rem;
  }

  ha-list[view="week"] {
    grid-auto-flow: column;
  }
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 4rem 1fr 4rem;
}

.header button {
  margin: 20px;
  color: white;
}

.header__icon {
  fill: white;
}

.text-heading1 {
  color: white;
  font-size: 1.25rem;
  font-weight: 200;
  margin: 0;
}

.text-heading2 {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.text-subheading {
  color: white;
  font-size: 0.875rem;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.container {
  padding: 0 1.25rem;
  margin: auto;
  max-width: 700px;
  display: block;
}

.container::before {
  content: " ";
  margin-bottom: 2rem;
  display: table;
}

.container::after {
  content: " ";
  display: table;
  margin-top: 2rem;
}

.air-top {
  margin-top: 4rem;
}

.menu {
  min-height: 100%;
  background: white;
  width: 15rem;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.menu > * {
  padding: 1rem 0.75rem;
}

.menu > * + * {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.menu > h1 {
  font-weight: 200;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.9);
  margin: 0;
}

.menu ha-link,
.menu a {
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  display: block;
  color: #000;
}

.menu__spacer {
  flex: 1;
  border-top: none;
  padding: 0;
}
